@font-face {
  font-family: Baloo;
  src: url(/fonts/Baloo-Regular.ttf);
  font-weight: bold;
}
@font-face {
  font-family: SourceSans;
  src: url(/fonts/SourceSansPro-Bold.ttf);
}
@font-face {
  font-family: MerriweatherSans;
  src: url(/fonts/MerriweatherSans-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: LibreBodoni;
  src: url(/fonts/LibreBodoni-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: BonaNova;
  src: url(/fonts/BonaNova-Regular.ttf);
}
@font-face {
  font-family: Alegreya;
  src: url(/fonts/Alegreya-VariableFont_wght.ttf);
}
@font-face {
  font-family: Playfair-Display;
  src: url(/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: DancingScript;
  src: url(/fonts/DancingScript-Bold.ttf);
}
@font-face {
  font-family: Bungee;
  src: url(/fonts/Bungee-Regular.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Yeseva-One;
  src: url(/fonts/YesevaOne-Regular.ttf);
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
header {
  padding: 40px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  background: url(/images/hcm4.webp) fixed center;
  background-size: cover;
  position: relative;
  height: 275px;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.btnhcm {
  border-radius: 20px;
  color: #fff;
  background-color: rgba(90, 7, 168, 0.747);
  border: 2px solid #fff;
  font: 700 60px "Yeseva-One";
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.title a:link,
.title a:visited {
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease;
}
.title a:hover {
  text-decoration: none;
  color: #000;
}
.clock {
  float: right;
  clear: right;
  margin-top: 0;
  width: 800px;
  color: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  font: 60px "Yeseva-One", sans-serif;
  padding: 15px 32px;
  text-align: center;
}
.nav_container {
  position: absolute;
  width: auto;
  font: xx-large "SourceSans", sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: hwb(281 7% 30% / 0.863);
  border: 1px solid #fff;
  margin-top: 25px;
}
.navbar a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}
.dropdown {
  float: left;
  overflow: hidden;
  font-size: 25px;
}
.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: 0;
  color: #fff;
  padding: 16px 18px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #943ab3;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #984eb1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #9425b9;
}
.dropdown:hover .dropdown-content {
  display: block;
}
body,
head {
  font-family: "Times New Roman", Times, serif;
  background-color: #000;
  width: 1861px;
}
.scroll_text_frame {
  background: #8b008b url(/images/hcm4.webp) fixed center;
  background-size: cover;
  color: #fff;
  width: 100%;
  position: relative;
  height: 150px;
  overflow: hidden;
}
.scroll_text_frame p {
  position: absolute;
  font: 60px "Bungee", sans-serif;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.right_float_summary:hover,
.left_float_summary:hover {
  color: #000;
  border: 1px solid #000;
  font-weight: 100;
}
.title {
  padding: 0px 5%;
  font: 275% "LibreBodoni", sans-serif;
  transition: 0.5s ease;
  text-align: center;
  width: auto;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.left_float_title {
  border-radius: 15px 40px;
  float: left;
  margin-left: 5%;
  clear: left;
}
.right_float_title {
  border-radius: 40px 15px;
  float: right;
  margin-right: 5%;
  clear: right;
}
.summary {
  color: #fff;
  border: 1px solid #fff;
  transition: 0.5s ease;
  width: 83%;
  font: 27px "BonaNova", sans-serif;
  padding: 0 30px 0 15px;
}
.left_float_summary {
  border-radius: 15px 40px 30px;
  margin-left: 5%;
  clear: left;
  padding-left: 15px;
  float: left;
}
.right_float_summary {
  border-radius: 40px 15px 30px;
  margin-right: 5%;
  color: #fff;
  padding-right: 15px;
  float: right;
  clear: right;
}
#ducba_title {
  background-color: rgba(107, 177, 224, 0.45);
}
.frame_tt {
  margin: auto;
  justify-content: center;
  border: 2px solid #fff;
  height: 900px;
  width: 67%;
}
.ducba {
  background: url(/images/notre1.webp) no-repeat bottom;
  background-size: cover;
}
#ducba_title:hover {
  background-color: #10bde9;
}
#ducba_summary {
  background-color: rgba(107, 177, 224, 0.45);
}
#ducba_summary:hover {
  background-color: #10bde9;
}
.btn {
  border-radius: 25px;
  display: block;
  cursor: pointer;
  text-decoration: none;
  font-size: x-large;
  padding: 10px;
  outline-offset: 4px;
  transition: 0.2s ease;
  color: #fff;
  transition-property: outline-offset, color, background-color;
}
.ducba_btn {
  background-color: rgba(132, 221, 143, 0.411);
  outline: #17b329;
  border: #17b329;
}
.ducba_btn:hover {
  background-color: #17b329;
  outline: #17b329;
}
.read_more_ducba {
  float: right;
  margin-right: 50px;
  clear: both;
  margin-top: 175px;
}
.dinhdoclap {
  background: url(/images/ddl5.webp) no-repeat bottom;
  background-size: cover;
}
#ddl_title {
  background-color: rgba(66, 216, 169, 0.72);
}
#ddl_title:hover {
  background-color: #b0e600;
}
#ddl_summary {
  background-color: rgba(66, 216, 169, 0.72);
}
#ddl_summary:hover {
  background-color: #b0e600;
}
.ddl_btn {
  background-color: rgba(216, 171, 230, 0.192);
  outline: 3px solid rgba(209, 180, 84);
  border: 3px solid rgba(209, 180, 84);
}
.ddl_btn:hover {
  background-color: #d1b454;
  outline: 3px solid rgba(209, 180, 84);
}
.read_more_ddl {
  float: left;
  clear: both;
  margin-left: 50px;
  margin-top: 150px;
}
.nha_rong {
  background: url(/images/bnr3.webp) no-repeat center;
  background-size: cover;
}
.btm {
  background: url(/images/btm8.webp) no-repeat center;
  background-size: cover;
}
#btm_title {
  background-color: rgba(216, 169, 66, 0.45);
}
#btm_title:hover {
  background-color: #00b0e6;
}
#btm_summary {
  background-color: rgba(216, 169, 66, 0.582);
}
#btm_summary:hover {
  background-color: #00b0e6;
}
.btm_btn {
  background-color: rgba(216, 171, 230, 0.192);
  outline: 3px solid rgba(84, 209, 180);
  border: 3px solid rgba(84, 209, 180);
}
.btm_btn:hover {
  background-color: #54d1b4;
  outline: 3px solid rgba(84, 209, 180);
}
.read_more_btm {
  float: left;
  margin-left: 50px;
  clear: both;
  margin-top: 175px;
}
#bnr_title {
  background-color: rgba(81, 134, 194, 0.459);
}
#bnr_title:hover {
  background-color: #95a847;
}
#bnr_summary {
  background-color: rgba(81, 134, 194, 0.459);
}
#bnr_summary:hover {
  background-color: #95a847;
}
.bnr_btn {
  background-color: rgba(202, 168, 144, 0.623);
  outline: #e99416;
  border: #e99416;
}
.bnr_btn:hover {
  background-color: #e99416;
  outline: #e99416;
}
.read_more_bnr {
  float: right;
  margin-right: 50px;
  clear: right;
  margin-top: 125px;
}
.lm81 {
  background: url(/images/lm81_2.webp) no-repeat bottom;
  background-size: cover;
}
#lm81_title {
  background-color: rgba(54, 30, 59, 0.459);
}
.btn:hover {
  color: #000;
  outline-offset: -6px;
}
#lm81_title:hover {
  background-color: #8b7eda;
}
#lm81_summary {
  background-color: rgba(54, 30, 59, 0.459);
}
#lm81_summary:hover {
  background-color: #8b7eda;
}
.lm81_btn {
  background-color: rgba(190, 107, 228, 0.281);
  outline: #8accf3;
  border: #8accf3;
}
.lm81_btn:hover {
  background-color: #8accf3;
  outline: #8accf3;
}
.read_more_lm81 {
  float: right;
  margin-right: 50px;
  margin-top: 150px;
  clear: right;
}
.thaocamvien {
  background: url(/images/tcv0.webp) no-repeat center;
  background-size: cover;
}
#tcv_title {
  background-color: rgba(98, 163, 55, 0.699);
}
#tcv_title:hover {
  background-color: #52a840;
}
#tcv_summary {
  background-color: rgba(98, 163, 55, 0.39);
}
#tcv_summary:hover {
  background-color: #52a840;
}
.tcv_btn {
  background-color: rgba(187, 114, 46, 0.726);
  outline: #fa9624;
  border: #fa9624;
}
.tcv_btn:hover {
  background-color: #fa9624;
  outline: #fa9624;
}
.read_more_tcv {
  float: left;
  margin-left: 50px;
  clear: both;
  margin-top: 225px;
}
.foodwrapper {
  background-color: #8b008b;
  padding: 10px;
  column-gap: 5px;
  row-gap: 10px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  margin: auto;
  width: 67%;
  height: 100%;
  border: 2px solid snow;
}
.column {
  font-size: 16px;
  padding: 5px;
  border: 2px solid pink;
  background-color: #c22b49;
}
.img-thumbnail {
  border-radius: 12px;
  display: block;
  width: 100%;
  height: 100%;
}
.foodcontainer {
  background: transparent scroll;
  display: block;
  width: 90%;
  height: 40%;
  margin: 10px auto auto;
  overflow: hidden;
  object-fit: cover;
}
.text_food {
  font-size: 18px;
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  padding: 0px 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.text_food_wrap {
  overflow: hidden;
  border-radius: 12px;
  height: 51%;
  width: 98%;
  display: block;
  margin: 10px auto auto;
  border: 1px solid pink;
  background-color: #deb887;
}
.p_indent {
  text-indent: 20px;
  font: 18px "MerriweatherSans", sans-serif;
}
.see_more_light_box {
  text-align: center;
  font-size: 15px;
  background-color: #ff0;
  width: 55%;
  display: block;
  border-radius: 5px;
  margin: 5px auto;
  user-select: none;
}
.frame_food {
  width: 100%;
  height: 1800px;
  background: url(/images/hmm.webp) no-repeat fixed center;
  background-size: cover;
}
.food_place_title {
  font: 700 30px "Baloo", sans-serif;
  color: #5d0cf3;
  text-align: center;
}
.food_inner_text {
  background-color: #f08080;
  padding: 5px 15px;
  border-radius: 18px;
}
.food_inner_text p {
  font: 28px "Alegreya", sans-serif;
}
.lightbox_img {
  height: 100%;
  width: 100%;
}
.float_btn {
  transition: all 0.5s ease;
  font-size: large;
  position: fixed;
  width: 100px;
  bottom: 40px;
  right: 40px;
  background-color: #8b008b;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  margin-top: 22px;
  text-decoration: none;
}
.float_btn:hover {
  background-color: #087056;
}
.frame_dulich {
  width: 100%;
  height: 900px;
  background: url(/images/hcm7.webp) fixed;
  background-size: cover;
  z-index: 0;
  position: relative;
}
footer {
  background: url(/images/hcm4.webp) fixed center;
  background-size: cover;
  height: auto;
  width: 100%;
  color: #fff;
}
.footer-content {
  border: 3px solid #fff;
  border-radius: 20px;
  background-color: rgba(139, 0, 139, 0.8);
  width: 45%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 3rem;
}
.footer-content p {
  max-width: 800px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 24px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid #fff;
  padding: 5px;
  border-radius: 50%;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #833ac7;
}
.footer-bottom {
  background: #000;
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: left;
}
.footer-bottom p {
  font-size: 18px;
  line-height: 0;
  text-transform: capitalize;
}
.city_summary {
  margin-top: 0;
  border: 1px solid #fff;
  height: auto;
  background: #fff url(/images/hcm8.webp) fixed right;
  background-size: cover;
}
.city_summary_title {
  margin: 20px;
  height: 200px;
  width: 800px;
}
.city_summary_title h3 {
  font: bolder 65px/0 "Playfair-Display", sans-serif;
  padding: 30px 30px 30px 90px;
  color: #4d277b;
}
.city_summary_content {
  border: 1px solid #fff;
  padding: 45px;
  background-color: rgba(24, 84, 141, 0.767);
  width: 60%;
  margin: 0 auto;
  color: #f5f5f5;
  border-radius: 35px;
}
.city_summary_content p {
  font: 30px "DancingScript", sans-serif;
  width: auto;
}
