* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
  background-color: #000;
  width: 1861px;
}
@font-face {
  font-family: NotoSerif;
  src: url(/fonts/NotoSerif-BoldItalic.ttf);
}
@font-face {
  font-family: PlayfairBi;
  src: url(/fonts/PlayfairDisplay-BlackItalic.ttf);
}
@font-face {
  font-family: Yrsa;
  src: url(/fonts/Yrsa-Light.ttf);
}
.container .content h2 {
  font: xx-large "NotoSerif", sans-serif;
}
.container .content p {
  font: 25px "Yrsa", sans-serif;
  text-indent: 30px;
}
.img-thumbnail {
  display: block;
  width: 100%;
  height: 100%;
}
.img_container {
  overflow: hidden;
  object-fit: cover;
  background-color: transparent;
  display: block;
  width: 330px;
  height: auto;
  float: right;
  position: relative;
  margin: 20px 10px 20px 20px;
}
.wrapper {
  width: 100%;
  background: no-repeat fixed;
  background-size: cover;
  animation: change_bgImg;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-timing-function: ease-in;
}
.lichsu {
  font: 60px "PlayfairBI", sans-serif;
  padding: 30px;
  border-radius: 23px;
  border: #1f1b16;
  background-color: #fff;
  text-align: center;
  width: 80%;
  margin: 40px auto;
}
.timeline {
  clear: both;
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}
@keyframes change_bgImg {
  0% {
    background-image: url(/images/VnExpress-Saigon1920-1_1589840746.webp);
  }
  17% {
    background-image: url(/images/VnExpress-Saigon1920-2_1589840850.webp);
  }
  34% {
    background-image: url(/images/VnExpress-Saigon1920-3_1589840875.webp);
  }
  51% {
    background-image: url(/images/VnExpress-Saigon1920-4_1589840899.webp);
  }
  67% {
    background-image: url(/images/VnExpress-Saigon1920-5_1589840924.webp);
  }
  83% {
    background-image: url(/images/VnExpress-Saigon1920-6_1589840950.webp);
  }
  100% {
    background-image: url(/images/VnExpress-Saigon1920-1_1589840746.webp);
  }
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.container {
  clear: both;
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  font-size: large;
}
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #fff;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}
.left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #fff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
}
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}
.right::after {
  left: -16px;
}
.content {
  padding: 20px 30px;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
}
header {
  height: 400px;
  width: 100%;
  border: 2px solid #fff;
  background-color: #2e3138;
  border-radius: 25px 25px 0px 0px;
}
.header {
  display: flex;
  margin: auto;
  height: 300px;
  width: 70%;
  align-items: center;
}
#backToHome {
  width: 200px;
  text-decoration: none;
  padding: 20px;
  border-radius: 23px;
  font-size: 24px;
  font-weight: bold;
  border: #1f1b16;
  background-color: #fff;
  text-align: center;
  margin-left: 40px;
  float: left;
  clear: left;
  color: #474e5d;
}
footer {
  font-family: "Times New Roman", Times, serif;
  background: #2e3138;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 3rem;
}
.footer-content p {
  max-width: 800px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 24px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid #fff;
  padding: 5px;
  border-radius: 50%;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #383d49;
}
.footer-bottom {
  background: #000;
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: left;
}
.footer-bottom p {
  font-size: 18px;
  line-height: 0;
  text-transform: capitalize;
}
.float_btn {
  transition: all 0.5s ease;
  font-size: large;
  position: fixed;
  width: 100px;
  bottom: 40px;
  right: 40px;
  background-color: #32413d;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  margin-top: 22px;
  text-decoration: none;
}
